doctype html
html(lang=en)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
  body
    header
      h1 Flash Cards
    section#content
      h2= prompt
      p
        i Hint: #{hint}
    footer
      p An app to help you study.