extends layout

block main
  section.namecard
    .namecard-login
      if currentUser
        p.namecard-greeting Welcome, #[a(href='/profile')= name]!
        form.namecard-exit(action='/logout', method='POST')
          button(type='submit')
            img(src='/static/img/close.svg')
      else
        p.namecard-greeting Hello, student!
      if currentUser
        include includes/cardset-panel
        +cardset-panel(currentSet)
    block intro
  block card
