doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/static/stylesheets/custom.css')
  body
    include includes/header.pug
    block main