extends app

block intro
  #content
    form.login-form(action='/login', method='post')
      label.form-label(for='field-username') Username
      input#field-username.form-input(type='text', name='username')
      label.form-label(for='field-password') Password
      input#field-password.form-input(type='password', name='password')
      button.namecard-submit.form-submit(type='submit', value='form-submit') Submit